#balance {
    table {
        width: 100%;
        thead {
            tr {
                background-color: #d1f6d1;
            }
        }
        tr {
            &:hover {
                background-color: #d1f6d1;
            }
            td {
                text-align: center;
                vertical-align: middle;
                line-height: 30px;
                a {
                    color: $link_col;
                    text-decoration: none;
                    &:hover {
                        color: $link_hov;
                        text-decoration: underline;
                    }
                }
                .button_action {
                    display: inline-block;
                    padding: 5px 15px;
                    background-color: #f3aa6c;

                    border-radius: 10px;
                    &:hover {
                        background-color: #e0795e;
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@import "../public/colors"