$color: #fff;
$linkCol: #283abd;
$linkHov: #031387;

.footer {
	background-color: $color;
	text-align: center;
	padding: 50px 0;
	p {
		line-height: 30px;
	}
	.footer_menu {
		display: block;
		li {
			display: inline-block;
			margin-bottom: 30px;
			a {
				color: $linkCol;
				padding: 10px 20px;
				text-decoration: none;
				&:hover {
					color: $linkHov;
					text-decoration: underline;
				}
			}
		}
	}
}